* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

h1 {
  font-family: 'VT323', monospace;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  color: yellow;
  font-size: 100px;
}

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.score {
  color: white;
  font-family: 'VT323', monospace;
  font-size: 70px;
  font-weight: bold;
}

.reset {
  background: none;
  cursor: pointer;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 50px;
  font-weight: bold;
  border: none;
}